:root {
    --background-color: #202325;
    --board-color: #414a4f;
    --o-color: #46acff;
    --x-color: #fd5234;
    --ships-animation-time: 200ms;
    --explosions-animation-time: 600ms;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color)
}

.board {
    width: 60vmin;
    height: 60vmin;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5%;
    background-color: var(--board-color)
}

.cell {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color)
        /* cursor: default; */
}

.x,
.o {
    display: flex;
    position: relative;
}

.x::before,
.x::after {
    content: '';
    display: block;
    position: absolute;
    width: 70%;
    height: 10%;
    background-color: var(--x-color);
}

.x::after {
    transform: rotate(45deg);
}

.x::before {
    transform: rotate(-45deg);
}

.o::before,
.o::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
}

.o::before {
    width: 70%;
    height: 70%;
    background-color: var(--o-color);
    border-radius: 50%;
}

.o::after {
    width: calc(70% - 20%);
    height: calc(70% - 20%);
    background-color: var(--background-color);
    border-radius: 50%;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    position: absolute;
    background-color: rgba(32, 35, 37, .9);
    z-index: 1;
    color: white;
    font-size: 1.5rem;
    /* visibility: hidden; */
}

.result {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    margin-bottom: .5em;
}

.restart {
    padding: .75em 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: var(--background-color);
    background-color: white;
    border-radius: 100px;
    cursor: pointer;
    transition: .25s ease;
}

.restart:hover {
    color: white;
    background-color: var(--o-color);
}